@import url(https://fonts.googleapis.com/css?family=Nunito);body {
  background-color: #fff;
  font-family: "Bellefair", serif;
}

.navbar-laravel {
  background-color: #fff;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04);
}

.sidebar-header {
  background-color: #04396B;
  height: 60px;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 5px;
}

.sidebar-body {
  background-color: #e5eaef;
}

.sidebar-logo {
  height: 50px;
}

.container {
  width: 100%;
}

.dropzone-element {
  width: 200px;
  height: 200px;
  border-width: 2px;
  border-color: #666666;
  border-style: dashed;
  border-radius: 5px;
  margin: auto;
  padding: 69px 10px;
  text-align: center;
  cursor: pointer;
}

.progress-container {
  padding: 10px;
}

.dropzone-contianer {
  display: inline-block;
}

.audio-editor-container {
  text-align: center;
  width: 90%;
  margin: auto;
}

.audio-player-container {
  text-align: center;
  position: relative;
  outline: 1px solid #ccc;
  margin-top: 0px;
  background: #fff;
}

.range-slider-container {
  position: absolute;
  top: 0px;
  height: 14px;
  width: 85%;
  margin: 0 calc(7.5% - 5px);
  border-radius: 6px;
  -ms-touch-action: none;
  touch-action: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.range-slider-container .rc-slider-rail {
  position: absolute;
  width: 100%;
  background-color: transparent;
  height: 4px;
  border-radius: 6px;
}

.range-slider-container .rc-slider-track {
  position: absolute;
  left: 0;
  border-radius: 0px;
  background: transparent;
}

.range-slider-container .rc-slider-step {
  position: absolute;
  width: 100%;
  background: transparent;
}

.canvas-container {
  position: relative;
}

.qrcode-canvas-container {
  position: absolute;
  top: 0;
  left: 0;
}

.qrcode-canvas {
  height: 100%;
  width: 100%;
}

#audio-seeker {
  width: 0;
  height: 0;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  border-bottom: 20px solid #04396B;
  position: absolute;
  left: calc(0% - 10px);
  bottom: -20px;
}

.audio-seeker-needle {
  height: calc(100% - 6px);
  width: 1px;
  display: block;
  position: absolute;
  top: 0px;
  left: 0;
  z-index: 100;
  border-left: 1px solid black;
}

.crop-overlay {
  position: absolute;
  top: 0;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.crop-overlay-1 {
  left: 0;
}

.crop-overlay-2 {
  right: 0;
}

.audio-editor-container .rc-slider-handle {
  position: absolute;
  background: transparent;
  top: -25px;
  cursor: pointer;
  width: 15px;
  height: 10px;
  background: #04396B;
}

.audio-editor-container .rc-slider-handle:after {
  content: '';
  -ms-touch-action: pan-x;
  touch-action: pan-x;
  top: 10px;
  position: absolute;
  left: 0px;
}

.audio-editor-container .rc-slider-handle-1 {
  margin-left: -15px;
}

.audio-editor-container .rc-slider-handle-1:after {
  border-left: 15px solid transparent;
  border-top: 15px solid #04396B;
}

.audio-editor-container .rc-slider-handle-2:after {
  border-right: 15px solid transparent;
  border-top: 15px solid #04396B;
}

.media-controls {
  margin-top: 20px;
  text-align: center;
}

.sidebar-tool-box-nav-button {
  margin-left: 4%;
  display: inline-block;
  border-radius: 50px;
}

.sidebar-tool-box-nav-button:first-child {
  margin-left: 0;
}

.sidebar-tool-box-nav-button a {
  cursor: pointer;
  border-radius: 50px;
  width: 40px;
  height: 40px;
  text-align: center;
  display: inline-block;
  background: transparent;
  border: 1px solid #04396B;
  padding-top: 6px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.sidebar-tool-box-nav-button .sidebarIcon {
  width: 25px;
  -webkit-transition: width 0.5s;
  transition: width 0.5s;
}

.sidebar-tool-box-nav-button.active a {
  width: 50px;
  height: 50px;
  padding-top: 10px;
  background: #04396B;
  border-color: #04396B;
}

.sidebar-tool-box-nav-button.active .sidebarIcon {
  width: 30px;
}

.sidebar-tool-box-nav-button .ionIcon {
  padding-top: 9px;
}

.sidebar-tool-box-nav-bar {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 10px;
  padding-right: 10px;
  text-align: center;
  border-bottom: 1px solid #efefef;
}

.sidebar-tool-option-image {
  width: 56px;
  padding: 5px;
}

.sidebar-container {
  background-color: #fcfcfc;
  height: 100vh;
}

.upload-button {
  border-radius: 0px;
}

.upload-button-container {
  text-align: center;
}

.next-button-container {
  text-align: right;
}

.back-button-container {
  text-align: left;
}

.footer-buttons {
  padding-top: 20px;
  border-top: 1px solid #efefef;
}

.sidebar-tool-options-container {
  height: calc(100vh - 215px);
  overflow: scroll;
  padding-top: 10px;
}

.media-list-conatiner {
  padding: 10px;
  padding: 10px;
}

.media-file-element {
  background-color: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  margin-top: 5px;
}

.media-file-element:hover {
  background-color: #ccc;
}

.media-file-element.active {
  background-color: #ccc;
  border: 1px solid #000;
}

.range-slider-container-samplerate {
  margin-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  position: relative;
}

.waveform-canvas-element {
  width: 100%;
  background-color: transparent;
  text-align: center;
}

.waveform-canvas-element svg {
  background: #fff;
  max-width: 100%;
}

.waveform-canvas-container {
  padding: 30px 6%;
  background: #CCCCCC;
  min-height: 100vh;
}

.range-slider-time-display {
  position: absolute;
  top: -25px;
  display: block;
  width: 40px;
}

.range-slider-time-display-1 {
  right: 10px;
}

.range-slider-time-display-2 {
  left: 10px;
}

.play-pause-button {
  background-image: url(/images/playpause.png?85b6ebe3e8d99fb0173ec60f126b3728);
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;
  background-size: 90px;
  cursor: pointer;
  display: inline-block;
}

.crop-button {
  background-image: url(/images/scissors.png?5b1c3d1712b66235c7bbd3befbbc8d97);
  background-repeat: no-repeat;
  width: 45px;
  height: 45px;
  background-size: 30px;
  cursor: pointer;
  border: 3px solid #85C8DD;
  border-radius: 50px;
  background-position: 6px;
  display: inline-block;
  margin-left: 2%;
}

.colorPalletColorBlock {
  margin-right: 8px;
  width: 30px;
  height: 30px;
  display: inline-block;
}

.colorPalletContainer {
  background: white;
  border: 1px solid white;
  padding: 0 6px 8px 8px;
  cursor: pointer;
  border-radius: 2px;
  margin-bottom: 4px;
}

.colorPalletContainer:hover,
.colorPalletContainer.active {
  border: 1px solid #ccc;
}

.colorPalletName {
  font-size: 10px;
}

.uploadProgressBarContainer {
  position: relative;
  height: 30px;
  border: 1px solid #efefef;
}

.uploadProgressBar {
  position: absolute;
  width: 0%;
  background: #04396B;
}

.page-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}

.waveform-loader {
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.4);
}

.sidebar-loader {
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.4);
}

.loader-image-container {
  left: calc(50% - 60px);
  color: #fff;
  position: absolute;
  top: calc(50% - 60px);
  text-align: center;
}

.loader-image-container .loader-image {
  width: 120px;
}

.sidebar-slider {
  position: relative;
  width: 90%;
  margin: auto;
  height: 25px;
  margin-top: 20px;
}

.sidebar-slider .rc-slider-rail {
  cursor: pointer;
  position: absolute;
  width: 100%;
  background-color: transparent;
  height: 8px;
  border-radius: 6px;
  background-color: #E9E9E9;
  border: 1px solid #CCCCCC;
  border-radius: 4px 4px 4px 4px;
  -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2) inset;
          box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2) inset;
}

.sidebar-slider .rc-slider-track {
  cursor: pointer;
  position: absolute;
  left: 0;
  border-radius: 0px;
  height: 8px;
  background: #04396B;
  border: 1px solid #CCCCCC;
  border-radius: 4px 4px 4px 4px;
  -webkit-box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2) inset;
          box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.2) inset;
}

.sidebar-slider .rc-slider-step {
  width: 100%;
  background: transparent;
}

.sidebar-slider .rc-slider-handle {
  width: 20px;
  height: 25px;
  border-radius: 100px;
  background: #e5eaef;
  position: absolute;
  top: -9px;
  margin-left: -10px;
  cursor: pointer;
  border: 1px solid #ccc;
}

.onoffswitch {
  position: relative;
  width: 90px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.onoffswitch-checkbox {
  display: none;
}

.onoffswitch-label {
  display: block;
  overflow: hidden;
  cursor: pointer;
  border: 2px solid #031F4B;
  border-radius: 20px;
}

.onoffswitch-inner {
  display: block;
  width: 200%;
  margin-left: -100%;
  -webkit-transition: margin 0.3s ease-in 0s;
  transition: margin 0.3s ease-in 0s;
}

.onoffswitch-inner:before,
.onoffswitch-inner:after {
  display: block;
  float: left;
  width: 50%;
  height: 30px;
  padding: 0;
  line-height: 30px;
  font-size: 19px;
  color: white;
  font-family: Trebuchet, Arial, sans-serif;
  font-weight: bold;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.onoffswitch-inner:before {
  content: "ON";
  padding-left: 10px;
  background-color: #04396B;
  color: #FFFFFF;
}

.onoffswitch-inner:after {
  content: "OFF";
  padding-right: 10px;
  background-color: #B3CDE0;
  color: #ffffff;
  text-align: right;
}

.onoffswitch-switch {
  display: block;
  width: 21px;
  margin: 4.5px;
  background: #FFFFFF;
  position: absolute;
  top: 0;
  bottom: 0;
  right: 56px;
  border: 2px solid #031F4B;
  border-radius: 20px;
  -webkit-transition: all 0.3s ease-in 0s;
  transition: all 0.3s ease-in 0s;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
  margin-left: 0;
}

.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
  right: 0px;
}

.sidebar-tool-options {
  width: 60px;
  height: 60px;
  display: inline-block;
  margin-left: 20px;
  border: 2px solid transparent;
  cursor: pointer;
}

.sidebar-tool-options.active {
  border: 2px solid #04396B;
}

.sidebar-tool-options svg {
  height: 100% !important;
  width: 100% !important;
}

.sidebar-tool-options:first-child {
  margin-left: 0px;
}

.sidebarToolBoxContainer {
  margin-top: 10px;
}

.sidebarToolHeadingSmall {
  color: #000;
  font-size: 16px;
  font-weight: 400;
  display: inline-block;
  margin-bottom: 0px;
}

.sidebarToolDescription {
  color: #555;
  font-size: 14px;
  font-weight: 200;
  display: inline-block;
  margin-bottom: 0px;
}

.selectInput {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0px 10px;
}

.sidebarToolHeadingBig {
  color: #000;
  font-size: 32px;
  font-weight: 400;
  display: inline-block;
}

.sidebarToolContainer {
  margin-top: 10px;
}

.textColorBlockContainer {
  display: inline-block;
  margin-right: 3px;
  border: 3px solid transparent;
}

.textColorBlockContainer .textColorBlock {
  cursor: pointer;
  margin: 3px;
  margin: 0px;
  vertical-align: top;
  margin: 2px;
  border: 1px solid #ccc;
}

.textColorBlockContainer.active {
  border: 3px solid black;
}

.alignmentTabs {
  cursor: pointer;
  display: inline-block;
  padding: 0px 10px;
  border: 1px solid #ccc;
}

.alignmentTabs.active {
  background: #ccc;
}

.textInput {
  width: 100%;
  height: 40px;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0px 10px;
}

.mediaPlayerContainer {
  margin-top: 20px;
  text-align: center;
  max-width: 525px;
  margin: 0 auto;
}

.mediaPlayerControlsContainer {
  position: relative;
  padding: 5px 0px;
  background: #ddd;
  margin-top: 5px;
  margin-bottom: 0px;
}

.mediaPlayerControlsContainer .bar {
  height: 5px;
  position: absolute;
  top: 0;
  left: 0;
}

.mediaPlayerControlsContainer .playerBar {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
}

.mediaPlayerControlsContainer .bufferBar {
  background-color: rgba(0, 0, 0, 0.4);
  width: 0%;
}

.mediaPlayerControlsContainer .progressBar {
  background-color: #f00;
  width: 0%;
}

.mediaPlayerControlsContainer .media-controls {
  margin-top: 5px;
}

.createColorPalletContainer {
  background: white;
  border: 1px solid #ccc;
  padding: 15px 10px;
  cursor: pointer;
  border-radius: 2px;
}

.createColorPalletContainer:hover,
.createColorPalletContainer.active {
  border: 1px solid #ccc;
}

.createColorPalletName {
  font-size: 16px;
}

.createColorPalletPlus {
  color: #ccc;
  width: 23px;
  height: 23px;
  display: inline-block;
  text-align: center;
  background: #04396C;
  margin-right: 10px;
}

.colorPalletPopup {
  position: fixed;
  display: block;
  width: 500px;
  left: calc(50% - 250px);
  top: 50px;
  z-index: 100;
  background: #fff;
  padding: 20px;
}

.colorPalletPopupOverlay {
  position: fixed;
  display: block;
  width: 100%;
  height: 100vh;
  left: 0;
  top: 0;
  background: rgba(0, 0, 0, 0.4);
  z-index: 10000;
}

.colorPickerCloseContainer {
  width: 225px;
  height: 40px;
  background: #fff;
  padding: 5px 20px;
}

.colorPickerCloseButton {
  width: 100%;
  height: 30px;
  background: #fff;
  border: 1px solid #ccc;
  padding: 4px;
  text-align: center;
  cursor: pointer;
}

.choosenColorsDisplay {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  cursor: pointer;
  display: block;
  border: 1px solid #ddd;
  float: left;
  position: relative;
}

.createdColorPalletName {
  margin-top: 20px;
  text-align: center;
  padding-bottom: 10px;
  font-size: 30px;
}

.createdColorPalletDesc {
  text-align: center;
  color: #aaa;
}

.choosenColorsContainer {
  margin-top: 30px;
  margin-left: 110px;
}

.addColorButton {
  font-size: 20px;
  text-align: center;
  width: 40px;
  height: 40px;
  padding-top: 4px;
  background: #ccc;
  cursor: pointer;
}

.colorLibraryContainer {
  position: absolute;
  left: 135px;
  border: 1px solid #ccc;
}

.storeColorButton {
  width: 100px;
  padding: 10px;
  margin: auto;
  background: #04396C;
  color: #fff;
  text-align: center;
  cursor: pointer;
  margin-top: 13px;
}

.colorPalletNameEdit {
  font-size: 15px;
  padding-left: 10px;
  cursor: pointer;
  color: #04396B;
}

.colorPalletPopupClose {
  position: absolute;
  right: 0;
  top: 0;
  padding: 3px 10px;
  cursor: pointer;
  color: #999;
  font-size: 20px;
  margin-top: 2px;
  margin-right: 2px;
}

.colorPalletPopupClose:hover {
  color: #555;
}

.colorPalletNameInputContainer {
  margin-top: 20px;
  text-align: center;
}

.saveColorPalletNameButton {
  margin-top: 20px;
}

.displayColorDeleteButton {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  border: 1px solid #ccc;
  padding: 0px 3px;
  font-size: 10px;
}

.choosenColorsDisplay:hover .displayColorDeleteButton {
  display: block;
}

.qrCodeSecurityYesOption {
  display: inline-block;
}

.qrCodePwdTextBox {
  display: inline-block;
  margin-left: 0px;
}

.qrCodePwdTextBox .sidebarToolBoxContainer {
  margin-top: 0px;
}

.qrCodePwdTextBox input {
  height: 30px;
}

.mediaPlayerSubmitPasswordButton {
  margin-top: 20px;
}

.record-audio-button {
  border-radius: 0;
  margin-left: 10px;
}

.recorder-popup {
  position: fixed;
  width: 500px;
  left: calc(50% - 250px);
  top: 50px;
  z-index: 100;
  background: #fff;
  padding: 20px;
}

.recorder-close-button {
  font-size: 20px;
  top: 0;
  right: 0;
  position: absolute;
  padding: 1px 10px;
  cursor: pointer;
}

.audio-recorder-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.2);
  z-index: 1000;
}

.audio-recorder-cancel-button-container {
  margin-top: 5px;
}

.audio-recorder-cancel-button {
  text-decoration: underline;
  color: #bbb;
  cursor: pointer;
}

.media-player-page {
  background-image: url(https://s3.us-east-2.amazonaws.com/soundwave-assets/images/QR_Background.jpg);
  background-size: contain;
  background-repeat: repeat-y;
  background-color: #2B3E66;
  margin: 0;
}

.media-player-waveform {
  background: #fff;
  max-height: 350px;
}

.media-player-page video {
  background: #000;
  margin-top: 0px;
  max-height: 350px;
}

.media-player-waveform-container {
  position: relative;
}

.media-player-page .logo-image {
  margin-top: 10px;
  height: 75px;
}

.media-player-container {
  padding: 0px;
  margin-top: 20px;
}

.get-started-button {
  padding: 10px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #fff;
  background-color: #cc0000;
  border: 2px solid #fff;
  border-radius: 12px;
  margin-top: 25px;
}

.get-started-button:hover {
  background-color: #cc0000;
  color: #ffffff;
}

.get-started-button:active {
  background-color: #ffffff;
  color: #cc0000;
  -webkit-box-shadow: 0 5px #666;
          box-shadow: 0 5px #666;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
}

.media-player-get-started-button {
  margin-bottom: 100px;
}

