
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

body {
    font-family: "Bellefair", serif;
}

.probootstrap-navbar .navbar-brand {
    background-image: url('https://s3.us-east-2.amazonaws.com/soundwave-assets/images/logo-white.png');
    width: 200px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 15px;
}

.probootstrap-navbar.scrolled .navbar-brand {
    top: 5px;
    background-image: url('https://s3.us-east-2.amazonaws.com/soundwave-assets/images/logo-coloured.png');
}

@media screen and (max-width: $screen-sm) {
    .probootstrap-navbar .navbar-brand {
        background-image: url('https://s3.us-east-2.amazonaws.com/soundwave-assets/images/logo-coloured.png');
    }
}

.textslider-container {
  margin-top: 3rem;
  text-align: center;
}

.waveform-section {
    background-color: #fff;
    pointer-events: none;
}

.cartImage {
    width: 100px;
    background: #fff;
}

.cartItemDescContainer {
    display: inline-block;
    margin-left: 20px;
}

.cartImageContainer {
    display: inline-block;
}

.priceColumn {
    text-align: right;
}

.checkout-button {
    float: right;
    color: #fff;
    border-radius: 0;

    a {
        color: #fff;
    }
}

.orderAddressSection {
    padding-left: 30px;
    h4 {
        font-size: 24px;
    }
}

.how-it-works-container {
    text-align: center;
    padding: 50px 0px;
}

.try-for-free-section {
    text-align: center;
    padding: 50px 0px;
}

.probootstrap-footer-links li a {
    font-size: 16px;
    font-weight: 100;
    color: #fff;
}

.probootstrap-footer {
    padding: 3em 0;
}

.footer-social-container {
    margin-top: 30px;
}

.flexslider .probootstrap-slider-text {
    margin-top: 350px;
}

.client-image {
    margin: auto;
}

.soundwaveprocess-images {
    width: 80px;
}


.get-started-button {
  padding: 10px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #cc0000;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #cc0000;
  border-radius: 12px;
}

.get-started-button:hover {
background-color: #cc0000;
color: #ffffff;
}

.get-started-button:active {
  background-color: #ffffff;
  color: #cc0000;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.try-for-free-button {
  padding: 10px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #85C7DD;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #85c7dd;
  border-radius: 12px;
}

.try-for-free-button:hover {
background-color: #85C7DD;
color: #ffffff;
}

.try-for-free-button:active {
  background-color: #ffffff;
  color: #85C7DD;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.profile-pic {
    width: 34px;
}

.profile-dropdown {
    padding: 0 !important;
    padding-top: 13px !important;
}

.profile-dropdown:before {
    margin-top: -2px !important;
}

.my-orders-container {
    margin-top:100px;
    margin-bottom:50px;
}

.header-footer-clearence {
    margin-top: 100px;
    margin-bottom: 50px;
}

.order-container {
    background: #fff;
    margin-top: 5px;
    padding: 10px;
    color: #8b8e94;
}

.order-image {
    width: 100px;
}

.order-line-item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.play-pause-button {
    background-image: url('../images/playpause.png');
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    background-size: 90px;
    cursor: pointer;
    display: inline-block;
    margin-left: 10px
}

.order-item-description {
    display: flex;
    align-items: center;
}

.auth-container {
    background: #fff;
    padding: 20px 100px;
    margin-top: 50px;
}

.login-button {
    width: 100%;
}

.terms-container {
    margin: 0px 100px;
    background: #fff;
    padding: 20px;
    margin-top: 100px;
    margin-top: 50px;
}


.probootstrap-navbar.static-nav-bar {
  background: #ffffff;
  -webkit-box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.09);
          box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.09);
}

.probootstrap-navbar.static-nav-bar .parent-nav-link-padding,
.probootstrap-navbar.static-nav-bar .navbar-brand,
.probootstrap-navbar.static-nav-bar .navbar-nav > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
}

.probootstrap-navbar.static-nav-bar .navbar-brand {
  top: 10px;
  background-position: left 100%;
}

.probootstrap-navbar.static-nav-bar .dropdown > a:before {
  color: rgba(0, 0, 0, 0.4);
}

.probootstrap-navbar.static-nav-bar .navbar-nav > li > a {
  color: rgba(0, 0, 0, 0.7);
}

.probootstrap-navbar.static-nav-bar .navbar-nav > li > a:hover {
  color: rgba(0, 0, 0, 0.7) !important;
}

.probootstrap-navbar.static-nav-bar .navbar-nav > li.active > a {
  color: black !important;
}

@media screen and (max-width: 768px) {
  .probootstrap-navbar.static-nav-bar .navbar-nav > li.active > a {
    color: black !important;
  }
}

.probootstrap-navbar.static-nav-bar .navbar-brand {
    top: 5px;
    background-image: url(https://s3.us-east-2.amazonaws.com/soundwave-assets/images/logo-coloured.png);
}

.probootstrap-section.probootstrap-bg-white.textslider-section {
    background: url('https://s3.us-east-2.amazonaws.com/soundwave-assets/images/brick_wall_bg_1.png');
    background-size: cover;

    h3 {
        color: #fff;
        font-size: 34px;
        // text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px #fff, 0 0 50px #fff, 0 0 60px #fff, 0 0 70px #fff;
    }
}

@media screen and (max-width: 480px) {
    .slider-height, .flexslider, .flexslider .slides > li {
        height: 700px;
    }

    .flexslider .probootstrap-slider-text {
        margin-top: 330px;
    }

    .probootstrap-navbar .navbar-brand {
        top: 0px !important;
    }
}

@media screen and (max-width: $screen-md) {
    .terms-container {
        margin: 0px;
        padding-top: 50px;
    }
}


@media screen and (max-width: $screen-sm) {
    .side-margins {
        padding-left: 20px;
        padding-right: 20px;
    }
}

.probootstrap-bg-white {
    background-color: #fff;
}
