
// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

.probootstrap-navbar .navbar-brand {
    background-image: url('https://s3.us-east-2.amazonaws.com/soundwave-assets/images/logo-white.png');
    width: 200px;
    height: 50px;
    background-size: contain;
    background-repeat: no-repeat;
    top: 15px;
}

.probootstrap-navbar.scrolled .navbar-brand {
    top: 5px;
    background-image: url('https://s3.us-east-2.amazonaws.com/soundwave-assets/images/logo-coloured.png');
}

@media screen and (max-width: $screen-sm) {
    .probootstrap-navbar .navbar-brand {
        background-image: url('https://s3.us-east-2.amazonaws.com/soundwave-assets/images/logo-coloured.png');
    }
}

.textslider-container {
  margin-top: 3rem;
  text-align: center;
}

.waveform-section {
    background-color: #fff;
    pointer-events: none;
}

.cartImage {
    width: 100px;
    background: #fff;
}

.cartItemDescContainer {
    display: inline-block;
    margin-left: 20px;
}

.cartImageContainer {
    display: inline-block;
}

.priceColumn {
    text-align: right;
}

.checkout-button {
    float: right;
    color: #fff;
    border-radius: 0;

    a {
        color: #fff;
    }
}

.orderAddressSection {
    padding-left: 30px;
    h4 {
        font-size: 24px;
    }
}

.how-it-works-container {
    text-align: center;
    padding: 50px 0px;
}

.try-for-free-section {
    text-align: center;
    padding: 50px 0px;
    background: #e5eaef;
}

.probootstrap-footer-links li a {
    font-size: 16px;
    font-weight: 100;
    color: #fff;
}

.probootstrap-footer {
    padding: 3em 0;
}

.footer-social-container {
    margin-top: 30px;
}

.flexslider .probootstrap-slider-text {
    margin-top: 350px;
}

.client-image {
    margin: auto;
}

.soundwaveprocess-images {
    width: 80px;
}


.get-started-button {
  padding: 10px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #cc0000;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #cc0000;
  border-radius: 12px;
}

.get-started-button:hover {
background-color: #cc0000;
color: #ffffff;
}

.get-started-button:active {
  background-color: #ffffff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}


.try-for-free-button {
  padding: 10px 25px;
  font-size: 24px;
  text-align: center;
  cursor: pointer;
  outline: none;
  color: #85C7DD;
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid #85c7dd;
  border-radius: 12px;
}

.try-for-free-button:hover {
background-color: #85C7DD;
color: #ffffff;
}

.try-for-free-button:active {
  background-color: #ffffff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.profile-pic {
    width: 34px;
}

.profile-dropdown {
    padding: 0 !important;
    padding-top: 13px !important;
}

.profile-dropdown:before {
    margin-top: -2px !important;
}

.my-ordrs-container {
    margin-top:100px;
}

.order-container {
    background: #fff;
    margin-top: 5px;
    padding: 10px;
    color: #8b8e94;
}

.order-image {
    width: 100px;
}

.order-line-item-container {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5px;
}

.play-pause-button {
    background-image: url('../images/playpause.png');
    background-repeat: no-repeat;
    width: 45px;
    height: 45px;
    background-size: 90px;
    cursor: pointer;
    display: inline-block;
    margin-left: 10px
}

.order-item-description {
    display: flex;
    align-items: center;
}

.auth-container {
    background: #fff;
    padding: 20px 100px;
    margin-top: 50px;
}

.login-button {
    width: 100%;
}
